.text-bold {
  font-weight: bold !important;
}
.mdl-layout__content{
  display: flex;
}
.page-content{
  display: flex;
  flex: 1;
}
.mdl-list {
  padding: 0;
  margin: 0;
}
.mdl-list__item--three-line, .mdl-list__item--three-line .mdl-list__item-text-body,
.mdl-list__item--three-line .mdl-list__item-primary-content{
  height: auto;
}
.mdl-list__item{
  padding: 12px;
}
i{
  outline: none;
}
.textfield-fullwidth{
  width: 100%;
}
.page-content-loading{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.0980392);
}
.page-content-loading .mdl-spinner{
  width: 4em;
  height: 4em;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
}
.drawer-header-menu{
  padding: 10px;
  background-color: rgba(220, 220, 220, 0.68);
}
.drawer-header-menu > .title{
  display: block;
  position: relative;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  padding-left: 10px;
  font-size: 20px;
  line-height: 1;
  letter-spacing: .02em;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 64px;
}
.drawer-header-menu > .container-user-menu{
  display: flex;
  position: relative;
  flex-direction: row;
  -webkit-align-items: center;
  text-align: center;
  width: 100%;
}
.drawer-header-menu > .container-user-menu > .user-name{
  padding-left: 20px;
}
@media all and (max-width: 1024px){
  .drawer-header-menu > .title{
    line-height: 56px;
  }
}
.floating-button{
  position: fixed;
  bottom: 15px;
  right: 20px;
}
.mdl-card, .mdl-card * {
  z-index: auto;
}
.mdl-card__title.image {
  padding: 0;
  position: relative;
  display: block;
}
.mdl-card__title__image__container {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: black 0 0.1em 0;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.23)
}
.mdl-card__title__image__container > .title{
  font-size: 1.5em;
}
.mdl-card__title__image__container > .subtitle{
  font-size: 1em;
}
.mdl-card__title.image.bottom{
  text-align: center;
}
.mdl-card__title.image.bottom .title{
  color: white;
  padding: 2px 0px;
  background-color: rgb(66, 66, 66);
}
.mdl-card__title.image.bottom img {
  margin: 2px 0px;
}
.card-divider {
  border-top: 1px solid rgba(0,0,0,.1);
}
.img-responsive {
  max-width: 100%;
}
.container-subpage {
  padding: 20px;
  flex: 1;
}
.inline-card{
  display: inline-block;
  float: left;
  width: auto;
  margin-top: 20px;
  margin-left: 20px;
}
.inline-card .mdl-data-table{
  width: 100%;
}
.inline-card .mdl-button--icon{
  width: 28px;
  height: 28px;
  margin-left: 5px;
}
.container-mapa{
  height: 100%;
  margin-top: 15px;
}
.mdl-grid.nopadding {
  padding: 0px;
  margin: 0px;
}
.mdl-grid.nopadding .mdl-cell:first-child {
  margin-left: 0px
}
