<div class="container-subpage">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-fullwidth">
    <input class="mdl-textfield__input" type="text" id="doacao.nome" ng-model="doacao.nome" maxlength="200">
    <label class="mdl-textfield__label" for="doacao.nome">Nome {{doacao.tipo == 1 ? 'Entidade' : 'Indivíduo'}}</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-fullwidth">
    <input class="mdl-textfield__input" type="text" id="doacao.endereco" ng-model="doacao.endereco" maxlength="200">
    <label class="mdl-textfield__label" for="doacao.endereco">Endereço</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield textfield-fullwidth mdl-textfield--floating-label">
    <textarea class="mdl-textfield__input" type="text" rows= "7" id="doacao.informacoes" ng-model="doacao.informacoes"></textarea>
    <label class="mdl-textfield__label" for="doacao.informacoes">Informações</label>
  </div>
  <div class="textfield-fullwidth" style="padding-bottom: 20px;">
    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="tipo-entidade">
      <input type="radio" id="tipo-entidade" name="doacao.tipo" ng-model="doacao.tipo" class="mdl-radio__button" value="1" checked>
      <span class="mdl-radio__label">Entidade</span>
    </label>
    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="tipo-individuo">
      <input type="radio" id="tipo-individuo" name="doacao.tipo" ng-model="doacao.tipo" class="mdl-radio__button" value="2">
      <span class="mdl-radio__label">Indivíduo</span>
    </label>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" readonly type="text" id="localizacao.lat" ng-model="localizacao.lat">
    <label class="mdl-textfield__label" for="localizacao.lat">Latitude</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" readonly type="text" id="localizacao.lng" ng-model="localizacao.lng">
    <label class="mdl-textfield__label" for="localizacao.lng">Longitude</label>
  </div>
  <div></div>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" ng-click="sendRequest();">
    {{isCadastro ? 'Cadastrar' : 'Alterar'}}
  </button>
  <div id="mapa-doacao" class="container-mapa"></div>
</div>
