<div>
  <div class="mdl-card mdl-shadow--2dp inline-card" ng-repeat="ponto in pontos">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">{{ponto.nome}}</h2>
      <div class="mdl-layout-spacer"></div>
      <button id="menu-ponto-leitura{{$index}}" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu-ponto-leitura{{$index}}">
        <li><a ng-click="LeituraPontoObjectRoute.set(ponto);" class="mdl-menu__item" href="#leituraponto/">Alterar</a></li>
        <li class="mdl-menu__item" ng-click="setObjectForDelete(ponto);">Excluir</li>
      </ul>
    </div>
    <div class="mdl-card__supporting-text">{{ponto.endereco}}</div>
    <table class="mdl-data-table mdl-js-data-table">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Ativo</th>
          <th class="mdl-data-table__cell--non-numeric">Manual</th>
          <th class="mdl-data-table__cell--non-numeric">Sensor</th>
          <th class="mdl-data-table__cell--non-numeric"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="sensor in ponto.sensores">
          <td>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="ativo{{$parent.$index}}{{$index}}">
              <input type="checkbox" id="ativo{{$parent.$index}}{{$index}}" class="mdl-checkbox__input" ng-model="sensor.ativo" ng-click="alteraSensor(ponto, sensor);" ng-checked="sensor.ativo">
            </label>
          </td>
          <td>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="manual{{$parent.$index}}{{$index}}">
              <input type="checkbox" id="manual{{$parent.$index}}{{$index}}" class="mdl-checkbox__input" ng-disabled="!sensor.ativo" ng-model="sensor.manual" ng-click="alteraSensor(ponto, sensor);" ng-checked="sensor.manual">
            </label>
          </td>
          <td class="mdl-data-table__cell--non-numeric">{{sensor.nomeSensor}}</td>
          <td class="mdl-data-table__cell--non-numeric">
            <button class="mdl-button mdl-js-button mdl-button--icon" ng-show="sensor.manual" ng-click="mostraTelaRegistraLeitura(sensor);">
              <i class="material-icons" id="ttaddleitura{{$parent.$index}}{{$index}}">add_circle_outline</i>
              <div class="mdl-tooltip" data-mdl-for="ttaddleitura{{$parent.$index}}{{$index}}">Registrar Leitura</div>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <span ng-include="'pages/include/exclusao-dialog.html'"></span>
  <a ng-click="LeituraPontoObjectRoute.reset();" href="#leituraponto" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect floating-button">
    <i class="material-icons">add</i>
  </a>
  <dialog class="mdl-dialog" id="inc-registro-leitura-dialog">
    <h4 class="mdl-dialog__title">Registrar Leitura</h4>
    <div class="mdl-dialog__content">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="datahora" maxlength="20" ng-model="leitura.datahora">
        <label class="mdl-textfield__label" for="datahora">Data/Hora</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="descricao" maxlength="19" ng-model="leitura.leitura">
        <label class="mdl-textfield__label" for="descricao">Leitura</label>
      </div>
    </div>
    <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button close">Fechar</button>
      <button type="button" class="mdl-button close" ng-click="adicionaRegistroLeitura();">Confirmar</button>
    </div>
  </dialog>
</div>
